/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
@tailwind components;

/**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

nav {
  min-height: 84px;
}

.nav-toggle-container {
  @apply absolute;
  right: 10%;
}
.nav-toggle {
  @apply outline-none flex items-center px-3 py-2 border rounded text-grey border-grey-dark;
}

.nav-link-item {
  @apply mr-3 py-2 px-4;
  &:hover {
    .nav-link-icon {
      @apply opacity-50;
    }
  }
}
.nav-link {
  @apply inline-block no-underline text-grey-dark;
  &:hover {
    @apply text-red-light;
  }
  &.nuxt-link-exact-active {
    @apply text-white;
    &:hover {
      @apply text-red;
    }
  }
}
.nav-link-icon {
  @apply w-auto h-5 mr-2;
}

.hero-btn {
  @apply bg-blue text-white text-lg no-underline font-semibold px-8 py-3 rounded-full;
  &:hover {
    @apply bg-blue-dark;
  }
}
.template-link {
  @apply no-underline text-blue-lighter;
  &:hover {
    @apply text-blue-light;
  }
}
.hero-demo-container {
  width: 300px;
  height: 300px;
}

.demo-headline {
  @apply uppercase tracking-wide text-lg text-orange-dark;
}
.demo-title {
  @apply text-grey-darkest text-3xl;
}
.demo-description {
  @apply text-left text-lg text-grey-dark leading-normal;
}

.animation-btn {
  @apply bg-transparent text-black rounded shadow py-2 px-4 border border-black;

  &:hover {
    @apply bg-black text-white shadow-lg border-transparent;
  }
  &:disabled {
    @apply bg-grey-light text-grey;
  }
}

.animation-container {
  @apply border border-pink-darkest;
}
.main-animation-container {
  @apply animation-container;
  // height: 500px;
  @screen lg {
    min-height: 500px;
  }
}
.widget-animation-container {
  @apply cursor-pointer animation-container;
  width: 400px;
  height: 300px;
}

/**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
@tailwind utilities;

/**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */
