@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  min-height: 84px;
}

.nav-toggle-container {
  right: 10%;
  @apply absolute;
}
.nav-toggle {
  @apply outline-none flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600;
}

.nav-link-item {
  @apply mr-3 py-2 px-4 cursor-pointer;
  &:hover {
    .nav-link-icon {
      @apply opacity-50;
    }
  }
}
.nav-link {
  @apply inline-block no-underline text-gray-600;
  &:hover {
    @apply text-red-400;
  }
  &.nuxt-link-exact-active {
    @apply text-white;
    &:hover {
      @apply text-red-500;
    }
  }
}
.nav-link-icon {
  @apply w-auto h-5 mr-2;
}

.hero-btn {
  @apply bg-blue-500 text-white text-lg no-underline font-semibold px-8 py-3 rounded-full;
  &:hover {
    @apply bg-blue-600;
  }
}
.template-link {
  @apply text-lg no-underline text-blue-200;
  &:hover {
    @apply text-blue-400;
  }
  @apply mb-2;
  &:last-child {
    @apply mb-0;
  }
}
.hero-demo-container {
  width: 300px;
  height: 300px;
}

.demo-headline {
  @apply uppercase tracking-wide text-lg text-orange-600;
}
.demo-title {
  @apply font-bold text-gray-800 text-3xl;
}
.demo-description {
  @apply text-left text-lg text-gray-600 leading-normal;
}

.animation-btn {
  @apply flex flex-row items-center;
  @apply bg-transparent text-gray-900 rounded shadow py-2 px-4 border border-gray-900;

  &:hover {
    @apply bg-gray-900 text-white shadow-lg border-transparent;
  }
  &:disabled {
    @apply bg-gray-400 text-gray-500;
  }
}

.animation-container {
  @apply border border-pink-900;
}
.main-animation-container {
  @apply animation-container;
  // height: 500px;
  @screen lg {
    min-height: 500px;
  }
}
.widget-animation-container {
  @apply cursor-pointer animation-container;
  width: 400px;
  height: 300px;
}
