.nav-appear-enter-active,
.nav-appear-leave-active {
  transition-duration: 0.2s;
  transition-property: max-height, opacity;
  transition-timing-function: ease-in;
  max-height: 200px;
  overflow: hidden;
}
.nav-appear-enter,
.nav-appear-leave-to {
  max-height: 0;
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-in;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

#content {
  // initial load page transition
  transition: opacity 0.5s ease-in;
  &.loading {
    opacity: 0;
  }
}

// Slide transitions:
// Inspiration: https://markus.oberlehner.net/blog/vue-router-page-transitions/

$slide-transition-offset: 5em;
$slide-transition-time: 0.5s;

body {
  overflow-x: hidden; // prevent scrollbars from appearing
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: $slide-transition-time / 2;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate($slide-transition-offset, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-$slide-transition-offset, 0);
}
